{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}确认账户{% endblock %}

{% block page_content %}
<div class="container">
    <div class="row">
        <div class="page-header">
            <h1>Hello,{{ current_user.username }}!</h1>
            <h3>你还没确认你的账户</h3>
            <p>
                在使用之前你需要确认你的账户。检查你的注册邮箱，你会收到一封带有确认信息的邮件！
            </p>
            <p>
                再次发送认证邮件?
                <a href="{{ url_for('auth.resend_confirmation') }}">点击我</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}