{% extends "base.html" %}

{% block title %}关于我{% endblock %}

{% block page_content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <article class="article the-font" style='background:#fffffc'>
                <div class="comtainer">
                    <div class="row">
                        <div class="jumbotron" style="background:url('https://images.pexels.com/photos/27665/pexels-photo-27665.jpg?w=940&h=650&auto=compress&cs=tinysrgb')">
                            <div class="container text-center">
                                <h1 class="lead" style="color:#fffffc">Faiwong Yip</h1>
                                <ul class="list-unstyled" style="color:#fffffc">
                                    <li><strong>所在地：广州</strong></li>
                                    <li><strong>生日：1994/12/08</strong></li>
                                    <li><strong>学历：本科环境工程在读</strong></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-12" style="padding-left:100px;">

                            <h3><i class="fa fa-address-book" aria-hidden="true"></i> 联系方式：</h3>
                            <hr>
                            <ul>
                                <li>Email:<a href="#"> faiwongyip@outlook.com</a></li>
                                <li>Weibo:<a href="http://weibo.com/2287266893/profile"> Faiwong_Yip的微博</a></li>
                                <li>Zhihu:<a href="https://www.zhihu.com/people/liu-shan-67-29"> 刘山的知乎</a></li>
                                <li>Csdn:<a href="http://blog.csdn.net/huang5487378"> CSDN博客</a></li>
                                <li>Github:<a href="https://github.com/Fai-Wong"> https://github.com/Fai-Wong</a></li>
                            </ul>
                            <h3><i class="fa fa-pencil" aria-hidden="true"></i> 学习经历：</h3>
                            <hr>
                            <ul>
                                <li>python(编程知识，flask框架，爬虫等）</li>
                                <li>html、css、javascript等前端基础</li>
                                <li>使用bootstrap、jquery</li>
                                <li>使用git，notepad++，pycharm等工具</li>
                                <li>了解linux基础、vim命令、mysql、http等知识</li>
                            </ul>
                            <h3><i class="fa fa-rocket" aria-hidden="true"></i> 发展方向：</h3>
                            <hr>
                            <ul>
                                <li>web后端开发</li>
                                <li>数据挖掘</li>
                            </ul>
                            <h3><i class="fa fa-gamepad" aria-hidden="true"></i> 兴趣：</h3>
                            <hr>
                            <ul>
                                <li>运动：骑车、游泳</li>
                                <li>画画：彩铅、涂鸦</li>
                                <li>阅读：科技、历史、文学</li>
                            </ul>
                            <h3><i class="fa fa-hand-paper-o" aria-hidden="true"></i> 我想说：</h3>
                            <hr>
                            <p>敲代码是一件有趣的事情，当你的代码在机器上运行起来的时候，仿佛整个世界都是美妙的，非常酷!<br/>
                            学海无涯，只有不断地学习才能写出优雅的代码，成长起来。看书去了~
                            </p>
                            <div class="lead">I can because i think i can.</div>
                            <img src="https://images.pexels.com/photos/109919/pexels-photo-109919.jpeg?w=940&h=650&auto=compress&cs=tinysrgb" >
                            <hr>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>
{% endblock %}
