{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}{{ category.name }}{% endblock %}

{% block page_content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4><i class="fa fa-paperclip" aria-hidden="true"></i> {{ category.name }}</h4><br/>
            {% include '_posts.html' %}
        </div>
        {% if pagination %}
        <div style="float:right">{{ macros.pagination_widget(pagination, '.category',id=category.id) }}</div>
        {% endif %}
    </div>
</div>
{% endblock %}